*, 
::before, 
::after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,ol,ul,li{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.section{
  padding: 120px 0;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  height: 3330px;
}
.container {
  max-width: 1158px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
header{
  height: 72px;
  border-bottom:1px solid #e7e9fc;
  gap: 30px;
}

.logo {
  color: #2e2f42;
  list-style-type: none;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  initial-letter: 2%;
  text-decoration: none;
  
}
.web-header{
    color: #4D5AE5;
    }
.studio-header{
  color:#2E2F42;
}
.nav{
    display:flex; 
  }


.nav-menu {
  list-style-type: none;
  display: flex;
  
}
.nav-menu :hover,
.nav-menu :focus {
  color: #404bbf;
}
.nav-menu a{
  font-family:"Ralewey" sans-serif;
  text-decoration: none;
  font-weight:700px;
  font-size:18px;
  line-height: 1.3125em;
  letter-spacing:3%;
  padding: 10px;

  
}
.adress {
  display: flex;
}
.adres {
  list-style-type: none;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  initial-letter: 2%;
  display:flex;
  gap:10px;
  margin-left: 350px;
}
.adres :hover,
.adres :focus {
  color: #404bbf;
}
.adres a{
    text-decoration: none;
    color:#434455;
}
.title-h3{
  color:#2E2F42;
  font-weight: 500;
  font-size: 20 px;
  line-height: 1.5em;
  initial-letter: 2%;
}
.section-one{
  background-color: #2E2F42;
  Height: 600px;
  text-align: center;
  margin: 0 auto;
}
.h1{
  color: #FFFFFF;
  font-weight:700px;
  font-size:56px;
  line-height:1em;
  letter-spacing: 2%;
  flex-direction: column;
  padding-bottom: 30px;
}
.order-button{
  background-color: #4D5AE5;
  color: #ffffff;
  width:169px ;
  height:56px ;
  cursor: pointer;
  flex-direction: column;
}
.order-button:hover{
  background-color:#404BBF;
}
.order-button:focus{
  background-color:#404BBF;
}
.section-two-div{
  margin: 0 auto;
  padding: 120px 0;
}
.section-two-cardset{
  display: flex;
  gap: 8px;
}

.section-two li {
  list-style-type: none;
}


.section-two p{
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5em;
   initial-letter: 2%;
}
.section-our-team{
  background-color: #F4F4FD;
}
.our-team-div{
height: 732px;
padding: 120px 0;
}

.our-team-cardset{
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}
.section-our-team h2{
  color: #2E2F42;
  font-weight:700px;
  font-size:36px;
  line-height:2.5em;
  letter-spacing: 2%;
  text-align: center;
}
.section-our-team li{
  list-style-type: none;
  background-color: #ffffff;
}
.section-our-team img{
  width:264px;
  height:260px;
}

.section-our-team p{
  font-weight:400;
  font-size:16px;
  line-height:1.5em;
  letter-spacing: 2%;
}

.our-portofilo-cardset{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;  
}
.section-four-div{
  padding: 120px 0;
}
.section-four h2{
  color: #2E2F42;
  font-weight:700px;
  font-size:36px;
  line-height:2.5em;
  letter-spacing: 2%;
  text-align: center;
}
.section-four li{
  list-style-type: none;
}
.section-four img{
  width: 360px;
  height: 300px;
}

.section-four p{
  font-weight:400;
  font-size:16px;
  line-height:1.5em;
  letter-spacing: 2%;
}
.our-border{
   border-width: 0px 1px 1px 1px;
  border-color: #e7e9fc;
  border-style: solid;
  height: 120px;
  padding: 20px;
  }

.footer {
  background-color: #2E2F42;
  color:#ffffff;
  height: 312px;
  padding: 120px;
  }
.footer a{
  font-family:"Ralewey" sans-serif;
  text-decoration: none;
  font-weight:700px;
  font-size:18px;
  line-height:1.3125em;
  letter-spacing:3%;
}
.web{
  color: #4D5AE5;
}
.studio{
  color:#F4F4FD;
}
.footer p{
  font-weight:400;
  font-size:16px;
  line-height:1.5em;
  letter-spacing: 2%;
}